language: node_js
node_js:
  - 14
dist: bionic
addons:
  apt:
    sources:
      - ['llvm-toolchain-bionic-4.0']
    packages:
      - clang-format-9
before_install:
  - npm install
  - git fetch --unshallow
script:
  - remark ./docs -o --silent
  - if [[ `git status --porcelain` ]]; then if [ ! "$TRAVIS_PULL_REQUEST" = "false" ]; then git add .;git remote add pr https://24OI-bot:$GH_TOKEN@github.com/$TRAVIS_PULL_REQUEST_SLUG.git;git commit --author "24OI-bot <15963390+24OI-bot@users.noreply.github.com>" -m "[ci skip] style: lint files with remark-lint";git push pr; fi; exit 1; fi
